<section class="flex gap-4 min-h-screen mx-auto">
  <!-- Sidebar de conversaciones -->
  <div
    class="bg-[#18181b] p-4 rounded-lg w-64 border border-[#282c34] shadow-lg overflow-y-auto"
  >
    <button
      type="button"
      class="p-2 hover:bg-[#282c34] transition rounded-full cursor-pointer"
      (click)="goBack()"
    >
      <svg
        class="w-6 h-6 text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14M5 12l4-4m-4 4 4 4"
        />
      </svg>
    </button>

    <div class="flex flex-col space-y-2 mb-6 ">
      <div class="gap-2 flex flex-col">
        <button
          class="p-2 w-full text-left cursor-pointer rounded-lg hover:bg-[#282c34] transition text-white"
        >
          Nuevo Chat
        </button>
        <input
          type="text"
          placeholder="Buscar..."
          class="p-2 w-full text-left cursor-pointer rounded-lg border-b-1 border-[#282c34] hover:bg-[#282c34] transition text-white"
        />
      </div>

      <!-- Lista de conversaciones -->
      <div class="flex flex-col space-y-2 max-h-[70vh] pr-2 overflow-y-auto">
        <h2 class="text-white border-b-1 border-[#282c34]">Conversaciones</h2>
        @for (conv of conversations; track $index) {
        <app-conversation-box [conv]="conv"></app-conversation-box>
        }
      </div>
    </div>
  </div>

  <!-- Chat principal -->
  <div
    class="flex-1 flex flex-col h-screen bg-[#18181b] p-6 rounded-lg border border-[#282c34] shadow-lg"
  >
    <!-- Encabezado -->
    <div class="pb-4 border-b border-[#282c34] mb-4">
      <h1 class="text-2xl font-bold text-white">
        Bienvenido a la IA de FastSnippets
      </h1>
      <p class="text-gray-400">Estoy aquí para ayudarte</p>
    </div>

    <!-- Mensajes con scroll -->
    <div class="flex flex-col flex-1 overflow-y-auto pr-2">
      @for (msg of messages; track $index) {
      <div
        class="max-w-[80%] rounded-2xl px-4 py-3 shadow-md"
        [ngClass]="{
          'self-end bg-[#9810fa] text-white': msg.sender === 'user',
          'self-start bg-[#242323] text-white': msg.sender === 'bot'
        }"
      >
        <app-message-box [msg]="msg"></app-message-box>
      </div>
      }

      <!-- Loader -->
      @if (isLoading) {

      <div
        class="self-start bg-[#242323] rounded-2xl px-4 py-3 max-w-[80%] shadow-md"
      >
        <div class="flex items-center space-x-2 mb-1">
          <div
            class="h-6 w-6 rounded-full flex items-center justify-center text-xs font-bold bg-[#9810fa] text-white"
          >
            A
          </div>
          <span class="font-medium text-sm">Asistente</span>
        </div>
        <div class="flex space-x-1">
          <div class="h-2 w-2 bg-gray-400 rounded-full animate-bounce"></div>
          <div
            class="h-2 w-2 bg-gray-400 rounded-full animate-bounce"
            style="animation-delay: 0.2s"
          ></div>
          <div
            class="h-2 w-2 bg-gray-400 rounded-full animate-bounce"
            style="animation-delay: 0.4s"
          ></div>
        </div>
      </div>
      }
    </div>

    <!-- Input -->
    <div class="mt-6 flex gap-3">
      <input
        type="text"
        placeholder="Escribe tu pregunta..."
        class="flex-1 px-4 py-3 rounded-xl bg-[#18181b] border border-[#282c34] text-white focus:outline-none focus:ring-1 focus:ring-[#282c34] transition"
        (keyup.enter)="submitMessage()"
        [(ngModel)]="userInput"
      />
      <button
        type="button"
        class="px-5 py-2 bg-[#9810fa] rounded-xl hover:bg-[#7a0dc7] transition flex items-center space-x-2"
      >
        <button
          type="button"
          (click)="submitMessage()"
          class="flex-1 text-white font-semibold"
        >
          {{ isLoading ? "enviando..." : "Enviar" }}
        </button>
      </button>
    </div>
  </div>
</section>
