<section class="mt-28 flex space-y-2 min-h-[80vh] justify-center">
  <div
    class="flex flex-col justify-between space-y-2 w-5xl bg-[#18181b] p-4 rounded-lg"
  >
    <div
      class="flex flex-col space-y-2 p-2 rounded-lg h-full w-full overflow-y-auto text-white"
    >
    @for (msg of messages; track msg.id) {
      <span [ngClass]="{
        'text-purple-300': msg.sender === 'user',
       'text-white' : msg.sender === 'bot' } ">
       <strong>{{ msg.sender}}:</strong> {{ msg.text }}
      </span>
    }
    @if (loading) {
      <span class="loader"></span>
    }
    </div>
    <!-- input -->
    <div class="flex gap-2">
      <input
        id="userInput"
        type="text"
        (keyup.enter)="submitMessage()"
        [(ngModel)]="userInput"
        placeholder="Escribe tu pregunta..."
        class="flex-1 px-4 py-2 rounded-lg bg-[#18181b] border-1 border-white text-white focus:outline-none focus:ring-[#9810fa]"
      />
      <button
        (click)="submitMessage()"
        type="button"
        [disabled]="!userInput.trim() || loading"
        class="px-4 py-2 bg-[#9810fa] rounded-lg hover:bg-[#242323] transition disabled:opacity-50 disabled:cursor-not-allowed"
      >
         {{ loading ? 'Enviando...' : 'Enviar' }}
      </button>
    </div>
  </div>
</section>
