<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  @for (code of snippet.codes; track $index; let i = $index) {
  <div>
    <div class="flex justify-between">
      <span class="text-2xl font-semibold text-white">Paso: {{ i + 1 }}</span>
    </div>

    <article class="relative bottom-3">
      <div class="absolute top-10 right-4">
        <app-copy-button [code]="snippet.codes[0].code[i]"></app-copy-button>
      </div>
      <pre>
        <code [highlight]="code.code" [language]="'typescript'" class=" rounded-lg font-mono"
        [innerHTML]="snippet.codes[0].code[i] | highlight">
        </code>
      </pre>
      <div
        class="relative bottom-15 text-sm text-[#98c379] bg-[#282c34] px-2 py-4 rounded-b-lg"
      >
        <span class="px-2">
          //
          {{ snippet.codes[0].action[i] }}
        </span>
      </div>
    </article>
  </div>
  }
</div>
