<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="flex flex-col gap-4">
    <!-- title Input -->
    <div class="flex flex-col gap-2">
      <label for="" class="text-white font-bold text-lg">Título</label>
      <div
        class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:gap-4 md:items-center"
      >
        <!-- input title -->
        <input
          type="text"
          alt="title"
          formControlName="title"
          placeholder="Formulario Reactivo..."
          class="p-2 border-1 border-gray-300 rounded-md text-white placeholder:text-gray-500"
        />

        <!-- option framework -->
        <app-option-framework
          (frameworkSelected)="recoveryframework($event)"
        ></app-option-framework>
      </div>

      @if (
        this.form.get("title")?.hasError("required") &&
        this.form.get("title")?.touched
      ) {
        <span class="text-red-500 text-xs"> El título es obligatorio </span>
      }
      @if (
        this.form.get("title")?.hasError("minlength") &&
        this.form.get("title")?.touched
      ) {
        <span class="text-red-500 text-xs">
          El título debe tener al menos 3 caracteres
        </span>
      }
    </div>
    <!-- button for add code -->
    <div class="flex flex-col gap-2">
      <label for="" class="text-white font-bold text-lg">Código</label>
      <button
        type="button"
        (click)="handleModal()"
        class="py-2 px-4 border-1 border-gray-300 rounded-lg hover:scale-105 transition-all duration-200 cursor-pointer text-white"
      >
        <span>Incluir Código</span>
      </button>
      <!-- show codes added -->
      @if (hasCodes()) {
        <span class="text-md font-bold text-white">Codigos incluidos:</span>
          @for (code of codes.controls; track $index) {
            <app-box-code
              [code]="code.get('code')?.value"
              (removeCode)="removeCode($event)"
            ></app-box-code>
          }
      }
    </div>
    <div class="flex">
      <button
        type="submit"
        class="py-2 px-4 border-1 border-gray-300 rounded-lg hover:scale-105 transition-all duration-200 cursor-pointer text-white"
      >
        Continuar
      </button>
    </div>
  </div>
</form>

<!-- modal for add code -->
@if (isOpenModal) {
  <app-modal-paste-code
    (pasteCode)="addCode($event)"
    (closeModal)="closeModal()"
    [codes]="codes"
  ></app-modal-paste-code>
}
