<div class="relative">
  <button
    class="rounded-full border border-white cursor-pointer p-4 bg[url()]"
    (click)="openMenuHandler()"

  >
    <img [src]="image" alt="avatar" class="w-2 h-2" />
  </button>

  @if (openMenu) {
  <div
    class="absolute right-0 mt-2 w-56 bg-black/40 rounded-lg shadow-md text-white"
  >
    <div class="flex flex-col items-center">
      @for (link of links; track link.name) {
      <div
        class="relative border-b cursor-pointer border-white hover:border-0 w-full text-white px-2 py-4 gap-2 flex items-center group"
      >
        <img [src]="link.icon" alt="icon" class="w-6 h-6 text-white" />

        <a
          (click)="link.action()"
          class="absolute group-hover:font-semibold group-hover:text-[15px] transition-all duration-200 text-sm px-8"
          >{{ link.name }}</a
        >
        <span
          class="absolute left-0 bottom-0 h-[2px] w-0 bg-purple-600 transition-all duration-200 group-hover:w-full"
        ></span>
      </div>
      }
    </div>
  </div>
  }
</div>
