<div
  class="flex justify-between border-1 border-gray-300 rounded-lg p-2 overflow-y-auto"
>
  <span class="text-gray-300 text-sm">
    {{ this.code.substring(0, 25) || "Código vacío" }}
  </span>
  <button (click)="removeCodeChange()" class="cursor-pointer" type="button">
    <svg
      class="w-4 h-4 text-white"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
    <svg
      viewBox="0 0 40 40"
      class="pointer-events-none absolute inset-0"
      aria-hidden="true"
    >
      <circle
        cx="20"
        cy="20"
        r="18"
        class="fill-none stroke-white [stroke-dasharray:113] [stroke-dashoffset:113] transition-[stroke-dashoffset,opacity] duration-200 ease-out opacity-0 group-hover:[stroke-dashoffset:0] group-hover:opacity-100 transform -rotate-90 origin-center"
        stroke-width="2"
      />
    </svg>
  </button>
</div>


