{
  "printWidth": 80,
  "singleQuote": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 0
      }
    }
    
  ]
}
