rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla para la colección de usuarios
    match /users/{userId} {
      // Un usuario solo puede leer y escribir su propio documento
      allow read, update, delete: if request.auth.uid == userId;
      // Cualquier usuario autenticado puede crear su propio documento de usuario
      allow create: if request.auth.uid != null;

      // Si usas una subcolección para favoritos:
      match /favourites_snippets/{snippetId} {
        // Un usuario solo puede leer y escribir sus propios snippets favoritos
        allow read, write: if request.auth.uid == userId;
      }
    }
  }
}
