<div class="m-6 mt-36">
  <div class="flex flex-col space-y-2 min-h-[90vh]">
    <app-filters
      [selectedFramework]="selectedFramework"
      (frameworkSelected)="onFrameworkFilter($event)"
      (search)="onSearch($event)"
    >
    </app-filters>

    <div>
      <p class="text-xl text-white mt-4">
        {{ AuxSnippetList.length }} snippets disponibles
      </p>
    </div>

    <!-- Estado de carga -->
    @if (isLoading) {
    <div class="flex justify-center items-center h-64">
      <p class="text-gray-500 text-lg">Cargando snippets...</p>
    </div>
    }

    <!-- Snippets cargados pero sin resultados -->
    @else if (!isLoading && AuxSnippetList.length === 0) {
    <div class="flex justify-center items-center h-64">
      <p class="text-gray-500 text-lg">
        No hay snippets para el framework "{{ selectedFramework }}"
      </p>
    </div>
    } @else if (!isLoading && AuxSnippetList.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
      @for (item of AuxSnippetList; track item.uid) {
      <app-box-snippet
        [isFavourite]="detectIfUserSavedSnippet(item)"
        [snippet]="item"
        (favourite)="favouriteSnippet($event)"
        (showModal)="openModal($event)"
      ></app-box-snippet>
      }
    </div>
    }
  </div>

  @if (showModal) {
  <app-modal-snippet
    [snippet]="selectedSnippet"
    (disabledModal)="closeModal()"
  ></app-modal-snippet>
  }
</div>
