<div
  class="relative h-full overflow-hidden flex flex-col backdrop-blur-sm rounded-lg hover:bg-gray-700 transition-colors duration-50 shadow-sm hover:shadow-md p-6 cursor-pointer"
>
  <!-- glow background -->
  <div class="absolute -inset-0 opacity-60 pointer-events-none z-0">
    <div class="absolute inset-0 bg-purple-500/30 rounded-full blur-3xl"></div>
    <div
      class="absolute top-0 left-1/4 w-1/2 h-1/2 bg-indigo-600/20 rounded-full blur-2xl"
    ></div>
  </div>

  <!-- content -->
  <div class="relative">
    <div class="flex flex-col justify-between">
      <div class="space-y-2">
        <img [src]="icon" class="w-13 h-13 object-contain" alt="icon" />
        <span class="text-white text-lg font-bold mt-1">{{ title }}</span>
        <p class="text-gray-400 text-sm mt-1">{{ description }}</p>
      </div>

      <div class="flex items-center justify-between mt-8">
        <span class="text-purple-500">25 snippets</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-white"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
