<article class="relative flex flex-col space-y-2 p-4 rounded-md">
  <!-- glow background -->
  <div class="absolute -inset-4 opacity-60 pointer-events-none z-0">
    <div class="absolute inset-0 bg-purple-500/30 rounded-full blur-3xl"></div>
    <div
      class="absolute top-0 left-1/4 w-1/2 h-1/2 bg-indigo-600/20 rounded-full blur-2xl"
    ></div>
  </div>
  <div class="">
    <header class="flex items-center gap-2 mb-2">
      <img [src]="item.icon" alt="item.framework" class="w-10 h-10" />
      <span class="text-lg font-medium text-gray-100">
        {{ item.framework }}
      </span>
    </header>
    <div
      class="relative flex flex-col px-4 py-3 rounded mb-2 bg-white transition-all duration-50"
    >
      <code class="font-mono text-sm text-gray-800">{{ item.code }}</code>
      <app-copy-button [code]="item.code[0]"></app-copy-button>
    </div>
    <div>
      <span class="text-sm text-gray-100">{{ item.actions[0] }}</span>
    </div>
  </div>
</article>
