<article
  class="p-4 mb-3 flex flex-col bg-[#18181b] rounded-lg hover:shadow-sm hover:shadow-gray-100 transition-shadow duration-200 break-inside-avoid"
>
  <!-- header -> icon + framework + favourite -->
  <header class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <img
        src="./{{ detectIcon(snippet.icon) }}"
        class="w-10 h-10 lg:w-12 lg:h-12 drop-shadow-xl/60"
        [ngClass]="{
          'drop-shadow-red-600': snippet.framework === 'Angular',
          'drop-shadow-blue-600': snippet.framework === 'React',
          'drop-shadow-green-600': snippet.framework === 'Vue',
          'drop-shadow-orange-600': snippet.framework === 'Svelte'
        }"
        alt="snippet.framework"
      />
      <span class="text-lg lg:text-2xl font-semibold text-white">
        {{ snippet.title }}
      </span>
    </div>
    <div class="flex items-center gap-3">
      <app-copy-button
        [code]="snippet.code[0]"
        [black]="false"
      ></app-copy-button>

      <button (click)="emitFavourite(snippet)">
        <svg
          class="w-6 h-6 duration-200 transition-all cursor-pointer"
          [ngClass]="{
            'text-red-500': isFavourite,
            'text-white': !isFavourite
          }"
          aria-hidden="true"
          width="24"
          height="24"
          [attr.fill]="isFavourite ? 'currentColor' : 'none'"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
          />
        </svg>
      </button>
    </div>
  </header>

  <!-- code -->
  <div class="relative rounded-lg overflow-x-auto max-w-full">
    @if (snippet.code && snippet.code.length > 0) {
    <pre>
      <code class="font-mono whitespace-pre-wrap rounded-sm" [highlight]="snippet.code[0]" [language]="'typescript'"></code>
    </pre>
    } @else {
    <pre><code class="bg-gray-100 text-black">No hay código disponible</code></pre>
    }
    <div class="relative bottom-10 right-0">
      <!-- actions -->
      @if (snippet.actions && snippet.actions.length > 0) {
      <p class="text-sm text-gray-400">{{ snippet.actions[0] }}</p>
      } @else {
      <p class="text-sm text-gray-400 italic">No hay descripción disponible</p>
      }
    </div>
  </div>

  <!-- button -->
  <button
    class="flex items-center gap-2 justify-center text-white px-4 py-2 border-1 border-gray-500 rounded-lg transition-colors duration-200 cursor-pointer"
    (click)="openModal()"
    [ngClass]="{
      'hover:bg-red-500': snippet.framework === 'Angular',
      'hover:bg-[#00d8ff]': snippet.framework === 'React',
      'hover:bg-green-600': snippet.framework === 'Vue',
      'hover:bg-orange-600': snippet.framework === 'Svelte'
    }"
  >
    <span class="text-sm">Ver más</span>
    <svg
      class="w-6 h-6 mr-2 text-gray-800 dark:text-white"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-width="2"
        d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"
      />
      <path
        stroke="currentColor"
        stroke-width="2"
        d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
      />
    </svg>
  </button>
</article>
