<section class="mt-28">
  <div class="flex flex-col space-y-2 min-h-[90vh]">
    <h1 class="text-3xl font-bold text-gray-100 mb-10">Lista de favoritos</h1>
    <div>
      <p class="text-xl text-white mt-4">
        {{ snippetsUser.length }} snippets disponibles
      </p>
    </div>
    @if (isLoading) {
      <div class="flex justify-center items-center h-64">
        <app-snippet-loading></app-snippet-loading>
      </div>
    } @else {
      @if (snippetsUser.length > 0) {
        <div class="columns-1 md:columns-2 2xl:columns-3 mt-4">
          @for (item of snippetsUser; track item) {
            <app-box-snippet
              [isFavourite]="true"
              [snippet]="item"
              (favourite)="(true)"
              (showModal)="openModal($event)"
            ></app-box-snippet>
          }
        </div>
      } @else {
        <p class="text-gray-400 justify-center items-center flex">Aún no hay snippets en favoritos</p>
      }

      @if (showModal) {
        <app-modal-snippet
          [snippet]="selectedSnippet"
          (disabledModal)="closeModal()"
        ></app-modal-snippet>
      }
    }
  </div>
</section>
