
@import "tailwindcss";
@import "highlight.js/styles/atom-one-dark.css";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; 
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #242323; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #9810fa; 
  border-radius: 10px; 
}

@theme {
  --color-angular: #c3002f;
  --color-react: #00d8ff;
  --color-vue: #4dba87;
  --color-svelte: #ff3e00;
}